body{
  font-family: "Hanken Grotesk", Arial;
  background-color: hsl(221, 100%, 96%);
  padding-top: 100px;
  padding-bottom: 100px;
}







@media (min-width:320px) and (max-width: 620px) {
.page{
  flex-direction: column;
}

.summary {
  border-bottom-left-radius:25px ;
  border-top-right-radius: 0px;
  width: 282px;
  margin-top: -20px;
  height: 440px;
  padding-left: -20px;
  margin-right: -20px;
}
  .summary-title {
    margin-top: 30px;
  }

  .visual-stat,
  .verbal-stat,
  .memory-stat,
  .reaction-stat
{
  margin-left: 25px;

}
.stats{
  align-items: center;
}

.continue-button {
  margin-left: 35px;

}

}


@media (min-width:621px) {
  .page {
    flex-direction: row;
  }
  .summary {
    border-top-right-radius: 25px;
    width: 300px;
    padding-right: 35px;
  }

  .visual-stat,
  .verbal-stat,
  .memory-stat,
  .reaction-stat
{
  margin-left: 55px;

}

.continue-button{
 margin-left: 60px;

}

}


.page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  margin-right:-20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 20px;
  position: relative;
  height: 430px;
}

.your-result-para{
  color: white;
  font-size: 18px;
  
}

.result-number{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) );
  height: 150px;
  width: 150px;
  border-radius: 100px;
  
}
.result-no{
  position: absolute;
  color: white;
  font-size: 52px;
  font-weight: bold;

}
.result-full-mark{
  position: absolute;
  color: rgb(138, 126, 255);
  bottom: 7px;
}
.result-words {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.general-per{
  color: rgb(199, 197, 255);
  text-align: center;
  margin-top: -15px;
  font-size: 14px;
}
.summary{
  background-color: white;
  height: 410px;
  border-bottom-right-radius: 25px;
  padding-bottom: 20px;
}
.summary-title{
  margin-left:50px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.visual-stat,
.verbal-stat,
.memory-stat,
.reaction-stat
{
  display: flex;
  padding: 1px 10px;
  width: 200px;
  align-items: center;
  border-radius: 10px; 
  margin-bottom: 20px;
  
  
}

.stat-score-max{
  margin-right: -20px;
}
.memory,
.verbal,
.visual,
.reaction{
  width: 62px;
}

.reaction-stat{
  background-color: hsla(0, 100%, 67%, 0.05);
  
}

.reaction{
  color: hsl(0, 100%, 67%);
}

.memory-stat{
 background-color: hsla(39, 100%, 56%, 0.05)
}

.memory{
 color: hsl(39, 100%, 56%);
}

.verbal-stat{
  background-color: hsla(166, 100%, 37%, 0.05);
}
.verbal{
  color: hsl(166, 100%, 37%);
}

.visual-stat{
  background-color: hsla(234, 85%, 45%, 0.05);
  
}
.visual{
  color: hsl(234, 85%, 45%);
}
.summary img{
  margin-right: 15px;

}
.stat-score{
  margin-left: 35px;
}
.stat-max{
  margin-left: 5px;
  color: gray;
}


.continue-button{
  margin-top: 5px;
  font-family: Hanken Grotesk;
  font-weight: bold;
  background-color:hsl(224, 30%, 27%);
  padding: 10px 79px;
  border-radius: 40px;
  color: white;
  border: 0px;
  cursor: pointer;

}

.continue-button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

